html, body {
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 0;
	background-color: #010101;
	background-image: linear-gradient(to bottom, #444, #010101);
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	margin: 0;
	padding: 0;
	padding-bottom: .6em;
	background-color: #4f0004;
}

.main-logo, .main-logo:hover, .main-logo:visited {
	color: black;
}

.main-title h1, header .main-title h2  {
	display: inline-block;
	font-family: Limelight, sans-serif;
}

.main-title h1 {
	margin-left: .5em;
	margin-bottom: 0;
	font-size: 3em;
}

.main-title h2 {
	font-size: 1.7em;
}

.search {
	margin-left: 1em;
	margin-bottom: 0;
	padding-bottom: 0;;
}

#search-params, #search-params option {
	background-color: #bbb;
	height: 2.5em;
	margin-right: 0;;
	border-radius: 100px 0px 0px 100px;
}

#search-q {
	margin-left: 0;
	padding-left: 0;
	background-color: #ddd;
	width: 50%;
	height: 2em;
}

#search-btn {
	position: relative;
	bottom: .38em;
	height: 2.5em;
	width: 2.5em;
	border-radius: 0px 100px 100px 0px;
	background-color: #bbb;
	background-image: url("https://raw.githubusercontent.com/Keyamoon/IcoMoon-Free/d006795ede82361e1bac1ee76f215cf1dc51e4ca/SVG/135-search.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

header nav {
	position: relative;
	bottom: 2.55em;
	float: right;
	margin-right: 1em;
}

header nav a {
	display: inline-block;
	padding: 1em;
	padding-bottom: 1em;
	color: #6d6d6d;
	text-decoration: none;
	border-radius: 3px;
	font-size: 1em;
	letter-spacing: .2em;
}

header nav a:hover {
	color: #aaa;
	background-color: #2c0002;
}

main {
	font-family: sans-serif;
	color: #ddd;
}

.most-popular {
	width: 100%;
	margin: auto;
}

.most-popular h3 {
    width: 50%;
    margin: auto;
	font-size: 2em;
	text-align: center;
	text-decoration: underline;
}

.cards {
	display: flex;
	width: 90%;
	margin: auto;
	flex-direction: row;
	justify-content: center;
}

.card {
	height: 20em;
	width: 13em;
	margin: 2em;
	background-color: #fff;
}
.card, img {
	height: 20em;
	width: 13em;
}
/*
.card::after {
	content: "Title";
	display: inline;
	position: relative;
	top: 10em;
	left: .2em;
	font-size: 1.5em;
}]*/

.search-results {
}

.search-results h3 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.search-results table {
    width: 70%;
    margin: auto;
    background-color: #111;
    border: 2px solid white;
    border-collapse: collapse;
}
.search-results table td, th {
    text-align: right;
    border: 2px solid white;
    border-collapse: collapse;
    text-transform: capitalize;
}
